/* Grid System */
.grid-container
{
	width:100%;
}

.grid-container *
{
	box-sizing: border-box; 
}

.row:after,
.row:before
{
    content:"";
    display: table;
    clear:both;
}

[class*='col-'] 
{
    float: left; 
    min-height: 1px; 
    width: 16.66%;
    padding: 1px; /* For the 'Gutter' around each column */
}

.offset-1 { position: relative; left: 4.1666%; 		}
.offset-2 { position: relative;  left: 8.3333%; 	}
.offset-3 { position: relative;  left: 12.4999%;   	}
.offset-4 { position: relative;  left: 16.6666%; 	}
.offset-5 { position: relative;  left: 20.8333%; 	}
.offset-6 { position: relative;  left: 25%;   		}
.offset-7 { position: relative;  left: 29.1666%; 	}
.offset-8 { position: relative;  left: 33.3333%; 	}
.offset-9 { position: relative;  left: 37.4999%;    }
.offset-10 { position: relative;  left: 41.6666%; 	}
.offset-11 { position: relative;  left: 45.8333%; 	}
.offset-12 { position: relative;  left: 50%;		}
.offset-13 { position: relative;  left: 54.1666%; 	}
.offset-14 { position: relative;  left: 58.3333%; 	}
.offset-15 { position: relative;  left: 62.4999%;   }
.offset-16 { position: relative;  left: 66.6666%; 	}
.offset-17 { position: relative;  left: 70.8333%; 	}
.offset-18 { position: relative;  left: 75%;  		}
.offset-19 { position: relative;  left: 79.1666%; 	}
.offset-20 { position: relative;  left: 83.3333%; 	}
.offset-21 { position: relative;  left: 87.4999%;  	}
.offset-22 { position: relative;  left: 91.6666%; 	}
.offset-23 { position: relative;  left: 95.8333%; 	}

.col-1 { width: 4.1666%; 	}
.col-2 { width: 8.3333%; 	}
.col-3 { width: 12.4999%;   }
.col-4 { width: 16.6666%; 	}
.col-5 { width: 20.8333%; 	}
.col-6 { width: 25%;   		}
.col-7 { width: 29.1666%; 	}
.col-8 { width: 33.3333%; 	}
.col-9 { width: 37.4999%;   }
.col-10 { width: 41.6666%; 	}
.col-11 { width: 45.8333%; 	}
.col-12 { width: 50%;		}
.col-13 { width: 54.1666%; 	}
.col-14 { width: 58.3333%; 	}
.col-15 { width: 62.4999%;  }
.col-16 { width: 66.6666%; 	}
.col-17 { width: 70.8333%; 	}
.col-18 { width: 75%;  		}
.col-19 { width: 79.1666%; 	}
.col-20 { width: 83.3333%; 	}
.col-21 { width: 87.4999%;  }
.col-22 { width: 91.6666%; 	}
.col-23 { width: 95.8333%; 	}
.col-24 { width: 100%;      }

/* Responsive Grid */
@media all and (max-width:800px) {
        .col-1 { width: 8.3333%;    }
        .col-2 { width: 16.6666%;   }
        .col-3 { width: 24.9888%;   }
        .col-4 { width: 33.3333%;   }
        .col-5 { width: 41.6666%;   }
        .col-6 { width: 50%;        }
        .col-7 { width: 58.3333%;   }
        .col-8 { width: 100%;   }
        .col-9 { width: 100%;   }
        .col-10 { width: 100%;  }
        .col-11 { width: 100%;  }
        .col-12 { width: 100%;  }
        .col-13 { width: 100%;  }
        .col-14 { width: 100%;  }
        .col-15 { width: 100%;  }
        .col-16 { width: 100%;  }
        .col-17 { width: 100%;  }
        .col-18 { width: 100%;  }
        .col-19 { width: 100%;  }
        .col-20 { width: 100%;  }
        .col-21 { width: 100%;  }
        .col-22 { width: 100%;  }
        .col-23 { width: 100%;  }
        .col-24 { width: 100%;  }
    }

 @media all and (max-width:650px) {
    .col-1{ width: 25%;     }
    .col-2{ width: 50%;     }
    .col-3{ width: 100%;    }
    .col-4{ width: 100%;    }
    .col-5{ width: 100%;    }
    .col-6{ width: 100%;    }
    .col-7{ width: 100%;    }
    .col-8{ width: 100%;    }
    .col-9{ width: 100%;    }
    .col-10{ width: 100%;   }
    .col-11 { width: 100%;  }
    .col-12 { width: 100%;  }
    .col-13 { width: 100%;  }
    .col-14 { width: 100%;  }
    .col-15 { width: 100%;  }
    .col-16 { width: 100%;  }
    .col-17 { width: 100%;  }
    .col-18 { width: 100%;  }
    .col-19 { width: 100%;  }
    .col-20 { width: 100%;  }
    .col-21 { width: 100%;  }
    .col-22 { width: 100%;  }
    .col-23 { width: 100%;  }
    .col-24 { width: 100%;  }
}

/* Fonts */
p 
{
    font-family: "Arial", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Arial", Arial, sans-serif;
}

.center 
{
    margin: auto;
    text-align: center;
}

.text-center
{
    text-align: center;
}

.shove-right
{
    float:right;
    clear:both;
}

.shove-left
{
    float: left;
    clear:both;
}

/* Buttons */
.button
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 7px;
}

.button.small
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 7px;
}

.button.medium
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 36px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 9px;
}

.button.large
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 44px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 13px;
}

.button:hover
{
    background: #3E5770;
}

.button:active
{
    background: -webkit-linear-gradient(#34495E, #3E5770); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34495E, #3E5770); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34495E, #3E5770); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34495E, #3E5770); /* Standard syntax */
}

/* Green Buttons */
.button.green
{
    background: #4BA66F;
}

.button.green:hover
{
    background: #3F8C5E;
}

.button.green:active
{
    background: -webkit-linear-gradient(#3A7F56, #3F8C5E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A7F56, #3F8C5E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A7F56, #3F8C5E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3A7F56, #3F8C5E); /* Standard syntax */
}

/* Red Buttons */
.button.red
{
    background: #D14536;
}

.button.red:hover
{
    background: #B83C30;
}

.button.red:active
{
    background: -webkit-linear-gradient(#A3362A, #B83C30); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3362A, #B83C30); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3362A, #B83C30); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3362A, #B83C30); /* Standard syntax */
}

/* White Buttons */
.button.white
{
    color: #606B73;
    background: #E6EAEB;
}

.button.white:hover
{
    color: #606B73;
    background: #D9DDDE;
}

.button.white:active
{
    color: #606B73;
    background: -webkit-linear-gradient(#CACECF, #D9DDDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CACECF, #D9DDDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CACECF, #D9DDDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CACECF, #D9DDDE); /* Standard syntax */
}

/* Button Group */
.button-group
{
    height: 28px;
    margin-top:0px;
    margin-bottom:0px;
    list-style-type: none;
}

.button-group.small
{
    height: 28px;
    margin-top:0px;
    margin-bottom:0px;
    list-style-type: none;
}

.button-group.medium
{
    height: 36px;
    margin-top:0px;
    margin-bottom:0px;
    list-style-type: none;
}

.button-group.large
{
    height: 44px;
    margin-top:0px;
    margin-bottom:0px;
    list-style-type: none;
}

.button-group > li:first-child
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float:left;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    text-align: center;
    padding: 6px;
}

.button-group.small > li:first-child 
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    text-align: center;
    padding: 6px;
}

.button-group.medium > li:first-child
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 36px;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    text-align: center;
    padding: 9px;
}

.button-group.large > li:first-child
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 44px;
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    text-align: center;
    padding: 12px;
}

.button-group > li
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    text-align: center;
    padding: 6px;
    margin:0px;
}

.button-group.small > li
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    text-align: center;
    padding: 6px;
    margin:0px;
}

.button-group.medium > li
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 36px;
    text-align: center;
    padding: 9px;
    margin:0px;
}

.button-group.large > li
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 44px;
    text-align: center;
    padding: 12px;
    margin:0px;
}

.button-group > li:last-child
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    text-align: center;
    padding: 6px;
    margin:0px;
}

.button-group.small > li:last-child
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    text-align: center;
    padding: 6px;
    margin:0px;
}

.button-group.medium > li:last-child
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 36px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    text-align: center;
    padding: 9px;
    margin:0px;
}

.button-group.large > li:last-child
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    float: left;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 44px;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    text-align: center;
    padding: 12px;
    margin:0px;
}


/* Button Group Colors */
.button-group > li:hover
{
    background: #3E5770;
}

.button-group > li:active
{
    background: -webkit-linear-gradient(#34495E, #3E5770); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34495E, #3E5770); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34495E, #3E5770); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34495E, #3E5770); /* Standard syntax */
}

/* Green Buttons */
.button-group.green > li
{
    background: #4BA66F;
}

.button-group.green > li:hover
{
    background: #3F8C5E;
}

.button-group.green > li:active
{
    background: -webkit-linear-gradient(#3A7F56, #3F8C5E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A7F56, #3F8C5E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A7F56, #3F8C5E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3A7F56, #3F8C5E); /* Standard syntax */
}

/* Red Buttons */
.button-group.red > li
{
    background: #D14536;
}

.button-group.red > li:hover
{
    background: #B83C30;
}

.button-group.red > li:active
{
    background: -webkit-linear-gradient(#A3362A, #B83C30); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3362A, #B83C30); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3362A, #B83C30); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3362A, #B83C30); /* Standard syntax */
}

/* White Buttons */
.button-group.white > li
{
    color: #606B73;
    background: #E6EAEB;
}

.button-group.white > li:hover
{
    color: #606B73;
    background: #D9DDDE;
}

.button-group.white > li:active
{
    color: #606B73;
    background: -webkit-linear-gradient(#CACECF, #D9DDDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CACECF, #D9DDDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CACECF, #D9DDDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CACECF, #D9DDDE); /* Standard syntax */
}

/* First Child Button Group Colors*/
.button-group > li:first-child:hover
{
    background: #3E5770;
}

.button-group > li:first-child:active
{
    background: -webkit-linear-gradient(#34495E, #3E5770); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34495E, #3E5770); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34495E, #3E5770); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34495E, #3E5770); /* Standard syntax */
}

/* Green Buttons */
.button-group.green > li:first-child
{
    background: #4BA66F;
}

.button-group.green > li:first-child:hover
{
    background: #3F8C5E;
}

.button-group.green > li:first-child:active
{
    background: -webkit-linear-gradient(#3A7F56, #3F8C5E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A7F56, #3F8C5E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A7F56, #3F8C5E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3A7F56, #3F8C5E); /* Standard syntax */
}

/* Red Buttons */
.button-group.red > li:first-child
{
    background: #D14536;
}

.button-group.red > li:first-child:hover
{
    background: #B83C30;
}

.button-group.red > li:first-child:active
{
    background: -webkit-linear-gradient(#A3362A, #B83C30); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3362A, #B83C30); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3362A, #B83C30); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3362A, #B83C30); /* Standard syntax */
}

/* White Buttons */
.button-group.white > li:first-child
{
    color: #606B73;
    background: #E6EAEB;
}

.button-group.white > li:first-child:hover
{
    color: #606B73;
    background: #D9DDDE;
}

.button-group.white > li:first-child:active
{
    color: #606B73;
    background: -webkit-linear-gradient(#CACECF, #D9DDDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CACECF, #D9DDDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CACECF, #D9DDDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CACECF, #D9DDDE); /* Standard syntax */
}

/* Last Child Button Group Colors*/
.button-group > li:last-child:hover
{
    background: #3E5770;
}

.button-group > li:last-child:active
{
    background: -webkit-linear-gradient(#34495E, #3E5770); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34495E, #3E5770); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34495E, #3E5770); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34495E, #3E5770); /* Standard syntax */
}

/* Green Buttons */
.button-group.green > li:last-child
{
    background: #4BA66F;
}

.button-group.green > li:last-child:hover
{
    background: #3F8C5E;
}

.button-group.green > li:last-child:active
{
    background: -webkit-linear-gradient(#3A7F56, #3F8C5E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A7F56, #3F8C5E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A7F56, #3F8C5E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3A7F56, #3F8C5E); /* Standard syntax */
}

/* Red Buttons */
.button-group.red > li:last-child
{
    background: #D14536;
}

.button-group.red > li:last-child:hover
{
    background: #B83C30;
}

.button-group.red > li:last-child:active
{
    background: -webkit-linear-gradient(#A3362A, #B83C30); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3362A, #B83C30); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3362A, #B83C30); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3362A, #B83C30); /* Standard syntax */
}

/* White Buttons */
.button-group.white > li:last-child
{
    color: #606B73;
    background: #E6EAEB;
}

.button-group.white > li:last-child:hover
{
    color: #606B73;
    background: #D9DDDE;
}

.button-group.white > li:last-child:active
{
    color: #606B73;
    background: -webkit-linear-gradient(#CACECF, #D9DDDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CACECF, #D9DDDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CACECF, #D9DDDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CACECF, #D9DDDE); /* Standard syntax */
}

/* Dropdown Menu */
.dropdown
{
    position: relative;
}

.dropdown-button
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 7px;
}

.dropdown-button.small
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 7px;
}

.dropdown-button.medium
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 36px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 9px;
}

.dropdown-button.large
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 44px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 13px;
}

.dropdown-button:hover
{
    background: #3E5770;
}

.dropdown-button:active
{
    background: -webkit-linear-gradient(#34495E, #3E5770); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34495E, #3E5770); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34495E, #3E5770); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34495E, #3E5770); /* Standard syntax */
}

.dropdown-button.green
{
    background: #4BA66F;
}

.dropdown-button.green:hover
{
    background: #3F8C5E;
}

.dropdown-button.green:active
{
    background: -webkit-linear-gradient(#3A7F56, #3F8C5E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A7F56, #3F8C5E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A7F56, #3F8C5E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3A7F56, #3F8C5E); /* Standard syntax */
}

/* Red Buttons */
.dropdown-button.red
{
    background: #D14536;
}

.dropdown-button.red:hover
{
    background: #B83C30;
}

.dropdown-button.red:active
{
    background: -webkit-linear-gradient(#A3362A, #B83C30); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3362A, #B83C30); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3362A, #B83C30); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3362A, #B83C30); /* Standard syntax */
}

/* White Buttons */
.dropdown-button.white
{
    color: #606B73;
    background: #E6EAEB;
}

.dropdown-button.white:hover
{
    color: #606B73;
    background: #D9DDDE;
}

.dropdown-button.white:active
{
    color: #606B73;
    background: -webkit-linear-gradient(#CACECF, #D9DDDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CACECF, #D9DDDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CACECF, #D9DDDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CACECF, #D9DDDE); /* Standard syntax */
}

.dropdown-menu
{
    position: absolute;
    top: 22px;
    background: #ffffff;
    list-style: none;
    border: 1px solid #d1d1d1;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -webkit-border-radius: 2px 2px 2px 2px;
    padding: 1px;
    z-index: 1;
    display: none;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.dropdown-menu > li
{
    color: #000000;
    font: 14px arial, sans-serif;
    text-align: left;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
}

.dropdown-menu > li:hover
{
    cursor: pointer; 
    cursor: hand;
    color: #000000;
    font: 14px arial, sans-serif;
    text-align: left;
    padding-left: 10px;
    padding-right: 20px;
    background: #D1DEE3;
}

.dropdown-menu > li.separator
{
    width:100%;
    background-color:#d1d1d1;
    height:1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

/* Toggle Button */
.toggle-button
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 8px;
}

.toggle-button.small
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 12px arial, sans-serif;
    min-width: 10px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 7px;
}

.toggle-button.medium
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 36px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 9px;
}

.toggle-button.large
{
    cursor: pointer; 
    cursor: hand;
    background: #46637F;
    color: #ffffff;
    display: inline-block;
    font: 14px arial, sans-serif;
    min-width: 10px;
    height: 44px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    text-align: center;
    padding: 13px;
}

.toggle-button:hover
{
    background: #3E5770;
}

.toggle-button:active
{
    background: -webkit-linear-gradient(#34495E, #3E5770); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34495E, #3E5770); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34495E, #3E5770); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34495E, #3E5770); /* Standard syntax */
}

/* Green Buttons */
.toggle-button.green
{
    background: #4BA66F;
}

.toggle-button.green:hover
{
    background: #3F8C5E;
}

.toggle-button.green:active
{
    background: -webkit-linear-gradient(#3A7F56, #3F8C5E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3A7F56, #3F8C5E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3A7F56, #3F8C5E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3A7F56, #3F8C5E); /* Standard syntax */
}

/* Red Buttons */
.toggle-button.red
{
    background: #D14536;
}

.toggle-button.red:hover
{
    background: #B83C30;
}

.toggle-button.red:active
{
    background: -webkit-linear-gradient(#A3362A, #B83C30); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#A3362A, #B83C30); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#A3362A, #B83C30); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#A3362A, #B83C30); /* Standard syntax */
}

/* White Buttons */
.toggle-button.white
{
    color: #606B73;
    background: #E6EAEB;
}

.toggle-button.white:hover
{
    color: #606B73;
    background: #D9DDDE;
}

.toggle-button.white:active
{
    color: #606B73;
    background: -webkit-linear-gradient(#CACECF, #D9DDDE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#CACECF, #D9DDDE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#CACECF, #D9DDDE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#CACECF, #D9DDDE); /* Standard syntax */
}

/* Textbox */
input[type="text"]
{
    background: #ffffff;
    font: 14px arial, sans-serif;
    border: 1px solid #46637F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
    width: 100%;
}

input[type="text"]:focus
{
    background: #ffffff;
    outline: none;
    font: 14px arial, sans-serif;
    border: 1px solid #46637F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
    box-shadow: 0 0 5px #46637F;
}

input[type="text"].green
{
    background: #ffffff;
    outline: none;
    font: 14px arial, sans-serif;
    border: 1px solid #4BA66F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
}

input[type="text"].green:focus
{
    background: #ffffff;
    outline: none;
    font: 14px arial, sans-serif;
    border: 1px solid #4BA66F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
    box-shadow: 0 0 5px #4BA66F;
}

input[type="text"].red
{
    background: #ffffff;
    outline: none;
    font: 14px arial, sans-serif;
    border: 1px solid #D14536;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
}

input[type="text"].red:focus
{
    background: #ffffff;
    outline: none;
    font: 14px arial, sans-serif;
    border: 1px solid #D14536;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
    box-shadow: 0 0 5px #D14536;
}

input[type="text"].white
{
    background: #ffffff;
    outline: none;
    font: 14px arial, sans-serif;
    border: 1px solid #E6EAEB;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
}

input[type="text"].white:focus
{
    background: #ffffff;
    outline: none;
    font: 14px arial, sans-serif;
    border: 1px solid #E6EAEB;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 3px;
    line-height: 28px;
    box-shadow: 0 0 5px #E6EAEB;
}

/* Tags */
.tag
{
    display: inline-block;
    min-height: 24px;
    font: 14px arial, sans-serif;
    color: #ffffff;
    padding: 6px;
    text-align: center;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    background: #46637F;
}

.tag.green
{
    min-height: 24px;
    text-align: center;
    padding: 6px;
    font: 14px arial, sans-serif;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    background: #4BA66F;
}

.tag.red
{
    min-height: 24px;
    padding: 6px;
    text-align: center;
    font: 14px arial, sans-serif;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    background: #D14536;
}

.tag.white
{
    min-height: 24px;
    padding: 6px;
    text-align: center;
    font: 14px arial, sans-serif;
    color: #ffffff;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    background: #E6EAEB;
    color: #606B73;
}

/* Message Bar */

.messagebar
{
    height: 40px;
    width: 100%;
    padding: 10px;
    font: 14px arial, sans-serif;
    background: #46637F;
    color: #ffffff;
    border: 2px solid #46637F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.messagebar.green
{
    height: 40px;
    width: 100%;
    padding: 10px;
    font: 14px arial, sans-serif;
    background: #4BA66F;
    color: #ffffff;
    border: 2px solid #4BA66F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.messagebar.red
{
    height: 40px;
    width: 100%;
    padding: 10px;
    font: 14px arial, sans-serif;
    background: #D14536;
    color: #ffffff;
    border: 2px solid #D14536;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.messagebar.inverse
{
    height: 40px;
    width: 100%;
    padding: 10px;
    font: 14px arial, sans-serif;
    background: #DCF1FF;
    color: #46637F;
    border: 2px solid #46637F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.messagebar.inverse.green
{
    height: 40px;
    width: 100%;
    padding: 10px;
    font: 14px arial, sans-serif;
    background: #C6DEC9;
    color: #4BA66F;
    border: 2px solid #4BA66F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.messagebar.inverse.red
{
    height: 40px;
    width: 100%;
    padding: 10px;
    font: 14px arial, sans-serif;
    background: #D1ACA9;
    color: #D14536;
    border: 2px solid #D14536;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

/* Panel */
.panel
{
    min-height: 40px;
    width: 100%;
    font: 14px arial, sans-serif;
    border: 1px solid #46637F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.panel-header
{
    min-height: 40px;
    width: 100%;
    font: 14px arial, sans-serif;
    background: #46637F;
    color: #ffffff;
    padding: 12px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}

.panel-body
{
    min-height: 10px;
    background: #ffffff;
    padding: 15px;
}

.panel-footer
{
    width: 100%;
    min-height: 40px;
    background: #DCF1FF;
    padding: 6px;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
    display: inline-block;
}

.panel.green
{
    min-height: 40px;
    width: 100%;
    font: 14px arial, sans-serif;
    border: 1px solid #4BA66F;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.panel.green > .panel-header
{
    min-height: 40px;
    width: 100%;
    font: 14px arial, sans-serif;
    background: #4BA66F;
    color: #ffffff;
    padding: 12px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}

.panel.green > .panel-body
{
    min-height: 10px;
    background: #ffffff;
    padding: 15px;
}

.panel.green > .panel-footer
{
    display: inline-block;
    width: 100%;
    min-height: 40px;
    background: #C6DEC9;
    padding: 6px;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}

.panel.red
{
    min-height: 40px;
    width: 100%;
    font: 14px arial, sans-serif;
    border: 1px solid #D14536;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.panel.red > .panel-header
{
    min-height: 40px;
    width: 100%;
    font: 14px arial, sans-serif;
    background: #D14536;
    color: #ffffff;
    padding: 12px;
    border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
}

.panel.red > .panel-body
{
    min-height: 10px;
    background: #ffffff;
    padding: 15px;
}

.panel.red > .panel-footer
{
    display: inline-block;
    width: 100%;
    min-height: 40px;
    background: #D1ACA9;
    padding: 6px;
    border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -webkit-border-radius: 0px 0px 3px 3px;
}

/* List */
.list
{
    width: 100%;
    font: 14px arial, sans-serif;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-start: 0px;
}

.list.green
{
    width: 100%;
    font: 14px arial, sans-serif;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-start: 0px;
}

.list.red
{
    width: 100%;
    font: 14px arial, sans-serif;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-start: 0px;
}

.list > li:first-child
{
    background: #ffffff;
    padding: 6px;
    height: 28px;
    width: 100%;
    border: 1px solid #46637F;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list > li
{
    background: #ffffff;
    padding: 6px;
    height: 28px;
    width: 100%;
    border: 1px solid #46637F;
    list-style: none;
    margin: -1px;
}

.list > li:last-child
{
    background: #ffffff;
    padding: 6px;
    height: 28px;
    border: 1px solid #46637F;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.small > li:first-child
{
    background: #ffffff;
    padding: 6px;
    height: 28px;
    width: 100%;
    border: 1px solid #46637F;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.small > li
{
    background: #ffffff;
    padding: 6px;
    height: 28px;
    width: 100%;
    border: 1px solid #46637F;
    list-style: none;
}

.list.small> li:last-child
{
    background: #ffffff;
    padding: 6px;
    height: 28px;
    border: 1px solid #46637F;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.medium > li:first-child
{
    background: #ffffff;
    padding: 9px;
    height: 36px;
    width: 100%;
    border: 1px solid #46637F;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.medium > li
{
    background: #ffffff;
    padding: 9px;
    height: 36px;
    width: 100%;
    border: 1px solid #46637F;
    list-style: none;
}

.list.medium > li:last-child
{
    background: #ffffff;
    padding: 9px;
    height: 36px;
    border: 1px solid #46637F;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.large > li:first-child
{
    background: #ffffff;
    padding: 13px;
    height: 44px;
    width: 100%;
    border: 1px solid #46637F;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.large > li
{
    background: #ffffff;
    padding: 13px;
    height: 44px;
    width: 100%;
    border: 1px solid #46637F;
    list-style: none;
}

.list.large > li:last-child
{
    background: #ffffff;
    padding: 13px;
    height: 44px;
    border: 1px solid #46637F;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list > li:first-child:hover
{
    color: #ffffff;
    background: #46637F;
    width: 100%;
    border: 1px solid #46637F;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list > li:hover
{
    color: #ffffff;
    background: #46637F;
    width: 100%;
    border: 1px solid #46637F;
    list-style: none;
}

.list > li:last-child:hover
{
    color: #ffffff;
    background: #46637F;
    border: 1px solid #46637F;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.green > li:first-child
{
    color: #000000;
    background: #ffffff;
    width: 100%;
    border: 1px solid #4BA66F;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.green > li
{
    color: #000000;
    background: #ffffff;
    width: 100%;
    border: 1px solid #4BA66F;
    list-style: none;
}

.list.green > li:last-child
{
    color: #000000;
    background: #ffffff;
    border: 1px solid #4BA66F;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.green > li:first-child:hover
{
    color: #ffffff;
    background: #4BA66F;
    width: 100%;
    border: 1px solid #4BA66F;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.green > li:hover
{
     color: #ffffff;
    background: #4BA66F;
    width: 100%;
    border: 1px solid #4BA66F;
    list-style: none;
}

.list.green > li:last-child:hover
{
    color: #ffffff;
    background: #4BA66F;
    border: 1px solid #4BA66F;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.red > li:first-child
{
    color: #000000;
    background: #ffffff;
    width: 100%;
    border: 1px solid #D14536;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.red > li
{
    color: #000000;
    background: #ffffff;
    width: 100%;
    border: 1px solid #D14536;
    list-style: none;
}

.list.red > li:last-child
{
    color: #000000;
    background: #ffffff;
    border: 1px solid #D14536;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.red > li:first-child:hover
{
    color: #ffffff;
    background: #D14536;
    width: 100%;
    border: 1px solid #D14536;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.red > li:hover
{
    color: #ffffff;
    background: #D14536;
    width: 100%;
    border: 1px solid #D14536;
    list-style: none;
}

.list.red > li:last-child:hover
{
    color: #ffffff;
    background: #D14536;
    border: 1px solid #D14536;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.white > li:first-child
{
    color: #000000;
    background: #ffffff;
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.white > li
{
    color: #000000;
    background: #ffffff;
    width: 100%;
    border: 1px solid #d1d1d1;
    list-style: none;
}

.list.white > li:last-child
{
    color: #000000;
    background: #ffffff;
    border: 1px solid #d1d1d1;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list.white > li:first-child:hover
{
    color: #ffffff;
    background: #d1d1d1;
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
    list-style: none;
}

.list.white > li:hover
{
    color: #ffffff;
    background: #d1d1d1;
    width: 100%;
    border: 1px solid #d1d1d1;
    list-style: none;
}

.list.white > li:last-child:hover
{
    color: #ffffff;
    background: #d1d1d1;
    border: 1px solid #d1d1d1;
    border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    -webkit-border-radius: 0px 0px 4px 4px;
    list-style: none;
}

.list > li:focus
{
    color: #ffffff;
    background: #d1d1d1;
    width: 100%;
    list-style: none;
}
